body {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,111,1) 35%, rgba(0,212,255,1) 100%);
}

p {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(15, 14, 15);
  font-size: 20px;
  padding: 70px;
  margin: 20px;
  margin-left: 30%;
  width: 700px;
  height: 70px;
  transition: all 0.3s ease-out;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,118,121,1) 35%, rgba(0,212,255,1) 100%);
text-align: center;
}

button {
  margin-left: 48%;
  box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:6px 49px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}